### Analisis de los CSV

Importamos modulos y librerias

In [1]:
import pandas as pd

In [2]:
csv_2015 = '../data/2015.csv'
csv_2016 = '../data/2016.csv'
csv_2017 = '../data/2017.csv'
csv_2018 = '../data/2018.csv'
csv_2019 = '../data/2019.csv'

Leemos los csv como un dataframe, cada uno con su respectivo a√±o

In [3]:
df_2015 = pd.read_csv(csv_2015, sep=',', encoding='latin-1')
df_2016 = pd.read_csv(csv_2016, sep=',', encoding='latin-1')
df_2017 = pd.read_csv(csv_2017, sep=',', encoding='latin-1')
df_2018 = pd.read_csv(csv_2018, sep=',', encoding='latin-1')
df_2019 = pd.read_csv(csv_2019, sep=',', encoding='latin-1')

### CSV 2015

Conocemos sobre como se encuentran los datos del csv_2015

In [4]:
df_2015.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        158 non-null    object
 1   Region                         158 non-null    object
 2   Happiness Rank                 158 non-null    int64
 3   Happiness Score                158 non-null    float64
 4   Standard Error                 158 non-null    float64
 5   Economy (GDP per Capita)       158 non-null    float64
 6   Family                         158 non-null    float64
 7   Health (Life Expectancy)       158 non-null    float64
 8   Freedom                        158 non-null    float64
 9   Trust (Government Corruption)  158 non-null    float64
 10  Generosity                     158 non-null    float64
 11  Dystopia Residual              158 non-null    float64
dtypes: float64(9), int64(1), object(2)
memory usage: 14.9+ KB

Una vista previa en como se ven los datos del df_2015

In [5]:
df_2015.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

Contamos con estas columnas

In [6]:
df_2015.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual'],
      dtype='object')

### CSV 2016

Observamos el tipo de dato que se encuentra en el df_2016

In [7]:
df_2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 13 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        157 non-null    object
 1   Region                         157 non-null    object
 2   Happiness Rank                 157 non-null    int64
 3   Happiness Score                157 non-null    float64
 4   Lower Confidence Interval      157 non-null    float64
 5   Upper Confidence Interval      157 non-null    float64
 6   Economy (GDP per Capita)       157 non-null    float64
 7   Family                         157 non-null    float64
 8   Health (Life Expectancy)       157 non-null    float64
 9   Freedom                        157 non-null    float64
 10  Trust (Government Corruption)  157 non-null    float64
 11  Generosity                     157 non-null    float64
 12  Dystopia Residual              157 non-null    float64
dtypes: float64(10), int64(1), object(2)
memory usage: 16.1+ KB

Una vista previa en como se ven los datos

In [8]:
df_2016.head()

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

Estas son las columnas que contiene el df

In [9]:
df_2016.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Lower Confidence Interval', 'Upper Confidence Interval',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity',
       'Dystopia Residual'],
      dtype='object')

### CSV 2017

In [10]:
df_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        155 non-null    object
 1   Happiness.Rank                 155 non-null    int64
 2   Happiness.Score                155 non-null    float64
 3   Whisker.high                   155 non-null    float64
 4   Whisker.low                    155 non-null    float64
 5   Economy..GDP.per.Capita.       155 non-null    float64
 6   Family                         155 non-null    float64
 7   Health..Life.Expectancy.       155 non-null    float64
 8   Freedom                        155 non-null    float64
 9   Generosity                     155 non-null    float64
 10  Trust..Government.Corruption.  155 non-null    float64
 11  Dystopia.Residual              155 non-null    float64
dtypes: float64(10), int64(1), object(1)
memory usage: 14.7+ KB

In [11]:
df_2017.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [12]:
df_2017.columns

Index(['Country', 'Happiness.Rank', 'Happiness.Score', 'Whisker.high',
       'Whisker.low', 'Economy..GDP.per.Capita.', 'Family',
       'Health..Life.Expectancy.', 'Freedom', 'Generosity',
       'Trust..Government.Corruption.', 'Dystopia.Residual'],
      dtype='object')

### CSV 2018

In [13]:
df_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Overall rank                  156 non-null    int64
 1   Country or region             156 non-null    object
 2   Score                         156 non-null    float64
 3   GDP per capita                156 non-null    float64
 4   Social support                156 non-null    float64
 5   Healthy life expectancy       156 non-null    float64
 6   Freedom to make life choices  156 non-null    float64
 7   Generosity                    156 non-null    float64
 8   Perceptions of corruption     155 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.1+ KB

Eliminamos el valor nulo que se encuentra en el df

In [14]:
df_2018 = df_2018.dropna()

In [15]:
df_2018.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [16]:
df_2018.columns

Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

### CSV 2019

In [17]:
df_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Overall rank                  156 non-null    int64
 1   Country or region             156 non-null    object
 2   Score                         156 non-null    float64
 3   GDP per capita                156 non-null    float64
 4   Social support                156 non-null    float64
 5   Healthy life expectancy       156 non-null    float64
 6   Freedom to make life choices  156 non-null    float64
 7   Generosity                    156 non-null    float64
 8   Perceptions of corruption     156 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.1+ KB

In [18]:
df_2019.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [19]:
df_2019.columns

Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

### Valores nulos de los df

Podemos verirficar que no contamos con valores nulos en los dataframe, esto es muy importante al momento de realizar el entrenamiento del modelo

In [20]:
dataframes = [df_2015, df_2016, df_2017, df_2018, df_2019]

# Funci√≥n para calcular el total de valores nulos en cada DataFrame
def total_nulos(dataframes):
    total = []
    for df in dataframes:
        total_nulos_df = df.isnull().sum().sum()
        total.append(total_nulos_df)
    return total

# Calcular el total de valores nulos en cada DataFrame
total_nulos_por_df = total_nulos(dataframes)

# Imprimir los resultados
for i, total in enumerate(total_nulos_por_df, start=2015):
    print(f"Total de valores nulos en df_{i}: {total}")

Total de valores nulos en df_2015: 0
Total de valores nulos en df_2016: 0
Total de valores nulos en df_2017: 0
Total de valores nulos en df_2018: 0
Total de valores nulos en df_2019: 0

Podemos observar como hay mas informacion de otros campos en los dataset

In [21]:
def num_columnas(dataframes):
    num_columnas_lista = []
    for df in dataframes:
        num_columnas_df = df.shape[1]  # El n√∫mero de columnas es el segundo elemento de la tupla shape
        num_columnas_lista.append(num_columnas_df)
    return num_columnas_lista

# Calcular el n√∫mero de columnas en cada DataFrame
num_columnas_por_df = num_columnas(dataframes)

# Imprimir los resultados
for i, num_columnas in enumerate(num_columnas_por_df, start=2015):
    print(f"N√∫mero de columnas en df_{i}: {num_columnas}")

N√∫mero de columnas en df_2015: 12
N√∫mero de columnas en df_2016: 13
N√∫mero de columnas en df_2017: 12
N√∫mero de columnas en df_2018: 9
N√∫mero de columnas en df_2019: 9

### Estandarizar Nombre de las columnas

Para poder realizar un buen merge de los 5 csv debemos estandarizar sus columnas por lo cual lo realizamos por partes. EN esta funcion vamos a estandarizar los de 2015 y 2016 ya que cuentan con una misma estructura en el nombre de las columnas

In [22]:
def standardize_column_names(df):
    # Map old column names to new names
    new_column_names = {
        'Country': 'Country',
        'Region': 'Region',
        'Happiness Rank': 'Happiness_Rank',
        'Happiness Score': 'Happiness_Score',
        'Standard Error': 'Standard_Error',
        'Economy (GDP per Capita)': 'Economy_GDP_per_Capita',
        'Family': 'Social_Support',
        'Health (Life Expectancy)': 'Health_Life_Expectancy',
        'Freedom': 'Freedom',
        'Trust (Government Corruption)': 'Corruption',
        'Generosity': 'Generosity',
        'Dystopia Residual': 'Dystopia_Residual'
    }

    # Rename columns using the mapping dictionary
    df.rename(columns=new_column_names, inplace=True)

In [23]:
standardize_column_names(df_2015)
standardize_column_names(df_2016)

In [24]:
df_2015.columns

Index(['Country', 'Region', 'Happiness_Rank', 'Happiness_Score',
       'Standard_Error', 'Economy_GDP_per_Capita', 'Social_Support',
       'Health_Life_Expectancy', 'Freedom', 'Corruption', 'Generosity',
       'Dystopia_Residual'],
      dtype='object')

In [25]:
df_2016.columns

Index(['Country', 'Region', 'Happiness_Rank', 'Happiness_Score',
       'Lower Confidence Interval', 'Upper Confidence Interval',
       'Economy_GDP_per_Capita', 'Social_Support', 'Health_Life_Expectancy',
       'Freedom', 'Corruption', 'Generosity', 'Dystopia_Residual'],
      dtype='object')

En esta segunda parte realizamos una funcion para 2017 que cuenta con . en los espacios de las palabras

In [26]:
def standardize_column(df):
    # Map old column names to new names
    new_column_names = {
        'Country': 'Country',
        'Happiness.Rank': 'Happiness_Rank',
        'Happiness.Score': 'Happiness_Score',
        'Whisker.high': 'Whisker_High',
        'Whisker.low': 'Whisker_Low',
        'Economy..GDP.per.Capita.': 'Economy_GDP_per_Capita',
        'Family': 'Social_Support',
        'Health..Life.Expectancy.': 'Health_Life_Expectancy',
        'Freedom': 'Freedom',
        'Generosity': 'Generosity',
        'Trust..Government.Corruption.': 'Corruption',
        'Dystopia.Residual': 'Dystopia_Residual'
    }

    # Rename columns using the mapping dictionary
    df.rename(columns=new_column_names, inplace=True)

In [27]:
standardize_column(df_2017)

In [28]:
df_2017.columns

Index(['Country', 'Happiness_Rank', 'Happiness_Score', 'Whisker_High',
       'Whisker_Low', 'Economy_GDP_per_Capita', 'Social_Support',
       'Health_Life_Expectancy', 'Freedom', 'Generosity', 'Corruption',
       'Dystopia_Residual'],
      dtype='object')

En esta parte se tuvo en cuenta que Happiness score no se encuentra como en las otros df pero es porque lo toman solo coo score al igual que Happiness rank esta como overral rank.

In [29]:
def standardize(df):
    # Map old column names to new names
    new_column_names = {
        'Overall rank': 'Happiness_Rank',
        'Country or region': 'Country',
        'Score': 'Happiness_Score',
        'GDP per capita': 'Economy_GDP_per_Capita',
        'Social support': 'Social_Support',
        'Healthy life expectancy': 'Health_Life_Expectancy',
        'Freedom to make life choices': 'Freedom',
        'Generosity': 'Generosity',
        'Perceptions of corruption': 'Corruption'
    }

    # Rename columns using the mapping dictionary
    df.rename(columns=new_column_names, inplace=True)

In [30]:
standardize(df_2018)
standardize(df_2019)

In [31]:
df_2018.columns

Index(['Happiness_Rank', 'Country', 'Happiness_Score',
       'Economy_GDP_per_Capita', 'Social_Support', 'Health_Life_Expectancy',
       'Freedom', 'Generosity', 'Corruption'],
      dtype='object')

In [32]:
df_2019.columns

Index(['Happiness_Rank', 'Country', 'Happiness_Score',
       'Economy_GDP_per_Capita', 'Social_Support', 'Health_Life_Expectancy',
       'Freedom', 'Generosity', 'Corruption'],
      dtype='object')

### Columnas a eliminar 
df_ 2015 = Standard_Error

df_2016 = Lower Confidence Interval', 'Upper Confidence Interval'

df_2017 = 'Whisker_High', 'Whisker_Low'

Se tuvo encuenta eliminar estas columnas en los df ya que es informacion que solo se encuentra en estos df y no se comparten con los demas, lo que hara si se dejan es producir valores nulos en el merge final que no es conveniente para realizar el modelo.

In [33]:
df_2015 = df_2015.drop(['Region', 'Standard_Error', 'Dystopia_Residual'], axis=1)

df_2016 = df_2016.drop(['Region', 'Lower Confidence Interval', 'Upper Confidence Interval', 'Dystopia_Residual'], axis=1)

df_2017 = df_2017.drop(['Whisker_High', 'Whisker_Low', 'Dystopia_Residual'], axis=1)

A√±adimos una columna en cada df del a√±o correspondiente de la informacion

In [34]:
df_2015['Year'] = 2015
df_2016['Year'] = 2016
df_2017['Year'] = 2017
df_2018['Year'] = 2018
df_2019['Year'] = 2019

Podemos observar que todos los df cuentan con el mismo numero de columnas

In [35]:
from tabulate import tabulate

def num_columnas(dataframes):
    num_columnas_lista = []
    for df in dataframes:
        num_columnas_df = df.shape[1]  # Obtener el n√∫mero de columnas
        num_columnas_lista.append(num_columnas_df)
    return num_columnas_lista

# Calcular el n√∫mero de columnas en cada DataFrame
num_columnas_por_df = num_columnas([df_2015, df_2016, df_2017, df_2018, df_2019])

# Crear una lista de listas para la tabla
tabla_datos = []
for i, num_columnas in enumerate(num_columnas_por_df, start=2015):
    tabla_datos.append([f"df_{i}", num_columnas])

# Imprimir la tabla
print(tabulate(tabla_datos, headers=["DataFrame", "N√∫mero de Columnas"], tablefmt="grid"))

+-------------+----------------------+
| DataFrame   |   N√∫mero de Columnas |
+=============+======================+
| df_2015     |                   10 |
+-------------+----------------------+
| df_2016     |                   10 |
+-------------+----------------------+
| df_2017     |                   10 |
+-------------+----------------------+
| df_2018     |                   10 |
+-------------+----------------------+
| df_2019     |                   10 |
+-------------+----------------------+

### Union de  los dataframe

Realizamos una concatenacion de los cinco df

In [36]:
df = pd.concat([df_2015, df_2016, df_2017, df_2018, df_2019], ignore_index=True)

Observamos una vista previa del df final

In [37]:
df.head()

,Country,Happiness_Rank,Happiness_Score,Economy_GDP_per_Capita,Social_Support,Health_Life_Expectancy,Freedom,Corruption,Generosity,Year
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2015
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2015
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2015
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2015
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2015

El df final cuenta con 781 registros y 10 columnas

In [38]:
df.shape

(781, 10)

Observamos que no se encuentran ningun valor nulo en el df final

In [39]:
df.isnull().sum()

Country                   0
Happiness_Rank            0
Happiness_Score           0
Economy_GDP_per_Capita    0
Social_Support            0
Health_Life_Expectancy    0
Freedom                   0
Corruption                0
Generosity                0
Year                      0
dtype: int64

### Modelo Regresion Lineal

In [40]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [41]:
# Seleccionar las caracter√≠sticas y el target
X = df[['Economy_GDP_per_Capita', 'Social_Support', 'Health_Life_Expectancy', 'Freedom', 'Corruption', 'Generosity', 'Year']]
y = df['Happiness_Score']

# Dividir los datos en conjuntos de entrenamiento y prueba
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Inicializar el modelo de regresi√≥n lineal
model = LinearRegression()

# Entrenar el modelo en el conjunto de entrenamiento
model.fit(X_train, y_train)

# Predecir en el conjunto de prueba
y_pred = model.predict(X_test)

# Calcular el error cuadr√°tico medio (MSE) en el conjunto de prueba
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)
r2_score = model.score(X_test, y_test)
print("R¬≤ Score:", r2_score)

Mean Squared Error: 0.29568735162348175
R¬≤ Score: 0.7632021824967565

In [49]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split

# Seleccionar las caracter√≠sticas y el target
X = df[['Economy_GDP_per_Capita', 'Social_Support', 'Health_Life_Expectancy', 'Freedom', 'Corruption', 'Generosity', 'Year']]
y = df['Happiness_Score']

# Dividir los datos en conjuntos de entrenamiento y prueba
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Inicializar el modelo de regresi√≥n lineal
model = LinearRegression()

# Entrenar el modelo en el conjunto de entrenamiento
model.fit(X_train, y_train)

# Predecir en el conjunto de prueba
y_pred = model.predict(X_test)

# Calcular el error cuadr√°tico medio (MSE) en el conjunto de prueba
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

# Calcular el coeficiente de determinaci√≥n (R¬≤) en el conjunto de prueba
r2_score = r2_score(y_test, y_pred)
print("R¬≤ Score:", r2_score)

Mean Squared Error: 0.3148945427058195
R¬≤ Score: 0.7478203242478555